a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

/* Navigation Bar */

.navbar {
  border-top: 10em;
}

.navbar-nav a {
  color: #ffffff;
  text-align: center;
}

.navbar .navbar-nav>a:hover,
.navbar .navbar-nav>a:focus{
  color: black;
  background-color: white;
  box-shadow: 5px -5px 5px 0;
}


/*Mobile menu icon color*/

.navbar .navbar-toggler {
  border-color: rgb(255, 255, 255);
}

/*.navbar .navbar-toggler-icon {*/
  /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
/*}*/

.input-xs {
  min-width: 22px;
  min-height: 22px;
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}
