<h6 class="recommended-title">Рекомендованое</h6>
<div *ngIf="additional | async" class="container justify-content-center">
  <div class="card border-0" *ngFor="let rec of firstPartRecommended" style="margin: 1rem">
    <a routerLink="/{{rec.articleCategory.name}}/{{rec.id}}" class="custom-card">
      <img class="card-img" [lazyLoad]="getImage(rec.articleCategory.name, rec.id)" [offset]="100">
      <div class="card-body">
        <h6 class="card-title">{{rec.shortContent}}</h6>
      </div>
    </a>
  </div>
</div>

<h6 class="recommended-title">Только что добавлено</h6>
<ul *ngIf="additional | async" class="list-unstyled">
  <li *ngFor="let newestArt of newest" class="recommended-container border-bottom" style="height: 200%">
    <div class="container">
      <a class="recommended" href="{{newestArt.articleCategory.name}}/{{newestArt.id}}">{{newestArt.shortContent}}</a>
    </div>
  </li>
</ul>

<h6 class="recommended-title">Рекомендованое</h6>
<div *ngIf="additional | async" class="container justify-content-center">
  <div class="card border-0" *ngFor="let rec of secondPartRecommended" style="margin: 1rem">
    <a routerLink="/{{rec.articleCategory.name}}/{{rec.id}}" class="custom-card">
      <img class="card-img" [lazyLoad]="getImage(rec.articleCategory.name, rec.id)" [offset]="100">
      <div class="card-body">
        <h6 class="card-title">{{rec.shortContent}}</h6>
      </div>
    </a>
  </div>
</div>
