<div class="container d-sm-none d-md-block overlap-collapse overlap-{{type}} panel-collapse-{{type}}">
  <div class="row">

    <div class="container col-md-2 bg-dark">
      <app-left [type]="type" [topics]="articleTopics"></app-left>
    </div>

    <div class="container col-md-5 p-3">
      <app-center [type]="type" [articles]="articles" [dreamBookMainTitles]="dreamBookMainTitles"></app-center>
    </div>

    <div class="container col-md-5 border">
      <app-right [type]="type" [seeAlso]="articleSeeAlso" [mostCommented]="articleMostCommented" [dreamBookSeeAlso]="dreamBookSeeAlso"></app-right>
    </div>
  </div>
</div>
