<app-navbar></app-navbar>
<div class="row content" style="margin: 0">
  <div class="container col-lg-3 col-md-1"></div>
  <div class="container col-lg-6 col-md-10">
    <app-navigation-collapse [type]="news"></app-navigation-collapse>
    <app-navigation-collapse [type]="dream"></app-navigation-collapse>
    <app-navigation-collapse [type]="women"></app-navigation-collapse>

    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
  <div class="container col-lg-3 col-md-1">
    <button mat-fab class="btn-scroll-up">
      <mat-icon>expand_less</mat-icon>
    </button>
  </div>
</div>

