<div class="row" style="margin-top: 10px">
  <div class="container col-6">

    <div class="container">
      <input style="display: none" type="file" (change)="onMainFileChanged($event)" #fileInput>
      <label class="full-width">Load main image: </label>
      <button mat-raised-button (click)="fileInput.click()">Select File</button>
    </div>

    <mat-radio-group class="example-radio-group" (change)="articleTypeChange($event)"
                     [(ngModel)]="article.articleCategory.name" name="article types"
                     style="display: inline-flex; flex-direction: column;">
      <mat-radio-button class="example-radio-button" *ngFor="let type of articleTypes" [value]="type">
        {{type}}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field hintLabel="Max 10 characters" class="full-width">
      <input [(ngModel)]="article.title" matInput #input maxlength="10" placeholder="Title" name="title">
      <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
      <button mat-button *ngIf="article.title" matSuffix mat-icon-button aria-label="Clear" (click)="article.title=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field hintLabel="Max 100 characters" class="full-width">
      <textarea [(ngModel)]="article.hotContent" matInput maxlength="100" placeholder="Hot Content"
                name="hot content"></textarea>
      <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
      <button mat-button *ngIf="article.hotContent" matSuffix mat-icon-button aria-label="Clear"
              (click)="article.hotContent=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div class="container" *ngFor="let p of article.content; index as i;">
      <mat-form-field hintLabel="Max 1000 characters" class="full-width">
      <textarea [(ngModel)]="p.content" matInput maxlength="1000" placeholder="Paragraph"
                name="Paragraph ${{i}}" style="height: 5rem"></textarea>
        <mat-hint align="end">{{input.value?.length || 0}}/1000</mat-hint>
        <button mat-button *ngIf="p.content" matSuffix mat-icon-button aria-label="Clear" (click)="p.content=''">
          <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>

      <input style="display: none" type="file" (change)="onFileChanged($event, i)" #fileInput>
      <button mat-raised-button (click)="fileInput.click()">Select File</button>
    </div>

    <label class="full-width">Add paragraph: </label>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle mat-raised-button (click)="addNoIMGParagraph()">No IMG</mat-button-toggle>
      <mat-button-toggle mat-raised-button (click)="addLeftIMGParagraph()">Left IMG</mat-button-toggle>
      <mat-button-toggle mat-raised-button (click)="addTopIMGParagraph()">Top IMG</mat-button-toggle>
      <mat-button-toggle mat-raised-button (click)="addRightIMGParagraph()">Right IMG</mat-button-toggle>
      <mat-button-toggle mat-raised-button (click)="addBottomIMGParagraph()">Bottom IMG</mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-raised-button (click)="removeParagraph()">Remove Paragraph</button>

    <div class="container" style="margin-top: 2rem">
      <label class="full-width">Hash Tags:</label>
      <mat-checkbox *ngFor="let hashTag of tags" class="example-margin" (change)="checkHashTag($event.checked, hashTag)"
                    style="padding: 1rem">
        {{hashTag.name}}
      </mat-checkbox>
    </div>

    <div *ngIf="topics" class="container" style="margin-top: 2rem">
      <label class="full-width">Topics: </label>
      <mat-radio-group class="example-radio-group" (change)="topicChange($event)" name="article topic"
                       style="display: inline-flex; flex-direction: column;">
        <mat-radio-button class="example-radio-button" *ngFor="let topic of topics" [value]="topic">
          {{topic.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <button mat-button color="primary" (click)="onCreate()">Create</button>
    <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  </div>

  <div class="container col-6">
    <div id="article" class="component content-container">
      <h5>{{article.title}}</h5>
      <h3>{{article.hotContent}}</h3>
      <!--<img src="https://via.placeholder.com/400x200?text=VakiVasi.com">-->
      <img *ngIf="url" [src]="url" class="img-fluid" alt="Responsive image">
      <div *ngFor="let p of article.content; index as i;">
        <div *ngIf="p.typeId===0">
            <p [innerHTML]="p.content">
        </div>
        <div *ngIf="p.typeId===1">
          <div class="col-4">
            <img *ngIf="paragraphData.get(p.id)" [src]="paragraphData.get(p.id).imageUri" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-8">
            <p [innerHTML]="p.content">
          </div>
        </div>
        <div *ngIf="p.typeId===2">
          <img *ngIf="paragraphData.get(p.id)" [src]="paragraphData.get(p.id).imageUri" class="img-fluid" alt="Responsive image">
          <p [innerHTML]="p.content">
        </div>
        <div *ngIf="p.typeId===3">
          <div class="col-8">
            <p [innerHTML]="p.content">
          </div>
          <div class="col-4">
            <img *ngIf="paragraphData[p.id]" [src]="paragraphData.get(p.id).imageUri" class="img-fluid" alt="Responsive image">
          </div>
        </div>
        <div *ngIf="p.typeId===4">
          <p [innerHTML]="p.content">
            <img *ngIf="paragraphData[p.id]" [src]="paragraphData[p.id].imageUri" class="img-fluid" alt="Responsive image">
        </div>
      </div>
    </div>
  </div>
</div>
