<div class="controller bg-dark" style="color: white; padding-top: 5rem; padding-bottom: 5rem">
  <div class="container">
    <p class="text-center">Вы хотите о чем то оповестить? Вы знаете о шокирующей ситуации, которая требует внимания
      со стороны средств массовой
      информации? Отправьте электронное письмо по адресу: example@gmail.com. Мы обязательно рассмотрим Ваше
      дело</p>
  </div>
  <div class="container" style="">
    <p class="text-center">VakiVasi.com - один из самых популярных информационных сайтов. Приглашаем к
      сотрудничеству.</p>
  </div>
  <div class="container" style="">
    <p class="text-center">
      Дополнительная информация: <a class="link-on-black" routerLink="/">https://pikio.pl/</a>
    </p>
  </div>
</div>
<div class="controller" style="color: white; padding-bottom: 1rem;">

</div>
