<div *ngIf="isArticle(); else dreamRight">
  <h6>Также смотрите:</h6>
  <ul>
    <li *ngFor="let toSee of seeAlso">
      <a class="link-on-white" routerLink="/{{toSee.articleCategory.name}}/{{toSee.id}}" style="font-size: 75%;" (click)="hide()">{{toSee.shortContent}}</a>
    </li>
  </ul>
  <h6>Топ коментариев:</h6>
  <ul>
    <li *ngFor="let mostC of mostCommented">
      <a class="link-on-white" routerLink="/{{mostC.articleCategory.name}}/{{mostC.id}}" style="font-size: 75%;" (click)="hide()">{{mostC.shortContent}}</a>
    </li>
  </ul>
</div>

<ng-template #dreamRight>
  <h6>Также смотрите:</h6>
  <ul>
    <li *ngFor="let toSee of dreamBookSeeAlso">
      <a class="link-on-white" routerLink="/" style="font-size: 75%;" (click)="hide()">{{toSee.data}}</a>
    </li>
  </ul>
</ng-template>
